* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
}
body {
  background-color: #f4f4f4;
}
header {
  height: 60px;
  background-color: #92a8d1;
  font-weight: bolder;
  text-transform: uppercase;
  color: #f4f4f4;
}
header p {
  font-size: 24px;
  word-spacing: 10px;
  letter-spacing: 1.5px;
}
header .brand-name {
  color: #b87979;
}
#branding {
  float: left;
  padding-top: 15px;
}
header ul {
  list-style: none;
  float: right;
  padding-top: 20px;
}
header li {
  display: inline;
  padding-right: 20px;
}
header a {
  color: #f4f4f4;
  text-decoration: none;
}
header a:hover {
  color: #b87979;
}
