* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
  /* this property is super importante */
  overflow: hidden;
}

header {
  height: 60px;
  background-color: #92a8d1;
  font-weight: bolder;
  text-transform: uppercase;
  color: #f4f4f4;
  border-bottom: solid 2px #b87979;
}
header p {
  font-size: 24px;
  word-spacing: 10px;
  letter-spacing: 1.5px;
}
header .brand-name {
  color: #b87979;
}
#branding {
  float: left;
  padding-top: 15px;
}
header ul {
  list-style: none;
  float: right;
  padding-top: 20px;
}
header li {
  display: inline;
  padding-right: 20px;
}
header a {
  color: #f4f4f4;
  text-decoration: none;
}
header a:hover {
  color: #b87979;
}
section#main-section {
  background: url("./imgs/computer.jpg") no-repeat -30px;
  height: 400px;
  text-align: center;
}
section#main-section h2 {
  padding-top: 60px;
  font-size: 30px;
  color: #b87979;
  font-weight: bold;
}
section#main-section p {
  color: #b87979;
  padding-top: 40px;
  font-size: 20px;
}

section#main-submision {
  background-color: #92a8d1;
  height: 60px;
}

section .main-form h2 {
  float: left;
  margin-top: 17px;
  color: #f4f4f4;
  font-size: 20px;
}
section form {
  float: right;
  margin-top: 18px;
}
section input[type="email"] {
  height: 20px;
  width: 210px;
}
section button {
  height: 24px;
  width: 90px;
  border: none;
  color: #f4f4f4;
  background-color: #b87979;
  text-transform: uppercase;
}
section button:hover {
  color: white;
}

section#boxes {
  margin-top: 20px;
}
section .box-1 img {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
section .box-2 img {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
section .box-3 img {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
section .box {
  float: left;
  width: 33%;
  height: 202px;
  text-align: center;
}

.sideLeft {
  float: left;
  width: 56%;
  margin-top: 20px;
  text-align: justify;
  box-sizing: border-box;
}

.sideRight {
  float: right;
  width: 40%;
  margin-top: 20px;

  text-align: justify;
  box-sizing: border-box;
}
footer {
  font-weight: bold;
  padding-top: 15px;
  color: #f4f4f4;
  height: 20px;
  font-size: 16px;
  text-align: center;
  background-color: #b87979;
}

/* -------------media query--------------------- */
@media (max-width: 768px) {
  /* -----------header-------------------------- */
  header {
    height: 80px;
    text-align: center;
  }
  header #branding,
  header ul {
    float: none;
  }
  header ul {
    padding-top: 10px;
  }
  /* -----------main section-------------------------- */
  section#main-section {
    max-height: 300px;
  }
  /* -----------form-------------------------- */
  section#main-submision {
    margin-top: 0;
    padding-top: 0;
    height: 120px;
    text-align: center;
  }
  section .main-form h2,
  section form {
    float: none;
  }
  section h2 {
    margin-top: 15px;
  }
  section input[type="email"] {
    background-color: #f4f4f4;
    border: none;
    width: 200px;
  }
  section button {
    margin-top: 4px;
    width: 200px;
  }
  /* -----------boxes-------------------------- */
  section#boxes {
    float: none;
  }
  section#boxes .box-1 {
    width: 100%;
  }
  section#boxes .box-2 {
    width: 100%;
  }
  section#boxes .box-3 {
    width: 100%;
  }
}
